
body{
    font-family:'Noto Sans TC' ,snas-serif;
}

h1, h2, h3, h4, h5, h6, .h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: 'Noto Sans TC',snas-serif;
    text-transform: none;
}
.subheading {
    font-family: 'Noto Sans TC',snas-serif;
    text-transform: none;
}
.expedu_icon{
    color:#495057;
}
.expedu_icon:hover{
    background-color:#495057;
    color:#fff;
}
:root{
    --bs-primary:#5CADAD;
    --bs-primary-rgb: 92, 173, 173;
    --bs-secondary:#8E8E8E;
    --bs-secondary-rgb:142, 142, 142;
}
.expedu_icon:hover{
    color: var(--bs-secondary);
}

a{
    color: var(--bs-primary);
}

.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}
a:hover{
    color:#8E8E8E;
}
table {width: 80%;}
th, td: {text-align: right;}
td {border-bottom:1px solid #3f294a;}
td {border:1px solid #2a5d44;}

.btn-primary{
    color:#000;
    background-color:#5CADAD;
    border-color:#5CADAD;
}
.btn-primary:hover{
    color:#000;
    background-color:#4f8080;
    border-color:#4f8080;
}