
body{
    font-family:'Noto Sans TC' ,snas-serif;
}

h1, h2, h3, h4, h5, h6, .h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: 'Noto Sans TC',snas-serif;
    text-transform: none;
}
.subheading {
    font-family: 'Noto Sans TC',snas-serif;
    text-transform: none;
}
.expedu_icon{
    color:#495057;
}
.expedu_icon:hover{
    background-color:#495057;
    color:#fff;
}
:root{
    --bs-primary:#5CADAD;
    --bs-primary-rgb: 92, 173, 173;
    --bs-secondary:#8E8E8E;
    --bs-secondary-rgb: 142, 142, 142
}
.expedu_icon:hover{
    color: var(--bs-secondary);
}

a{
    color: var(--bs-primary);
}

.social-icon .social-icon:hover{
    background-color:var(--bs-secondary)
}